<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KWL</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<servlet-class>ServletPackage.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
	<servlet>
        <servlet-name>OntologySaveLoad</servlet-name>
        <servlet-class>OntologySaveLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OntologySaveLoad</servlet-name>
        <url-pattern>/ogeditor/ontologysaveload</url-pattern>
    </servlet-mapping> 
</web-app>